In [3]:
import pandas as pd 
from random import randint, choice
from faker import Faker

fake = Faker()
numbers = [randint(-50,50) for i in range(10)]
names = [fake.name() for i in range(5)]
dates = [fake.date() for i in range(5)]
dubles_names = [choice(names) for i in range(10)]

a = pd.Series(numbers)
n = pd.Series(names)

In [4]:
names, dubles_names, numbers

(['Brian Sanchez',
  'Samuel Fuller',
  'Yvette Barnett MD',
  'Jodi Oneal',
  'Kevin Jimenez'],
 ['Yvette Barnett MD',
  'Jodi Oneal',
  'Brian Sanchez',
  'Kevin Jimenez',
  'Jodi Oneal',
  'Brian Sanchez',
  'Yvette Barnett MD',
  'Jodi Oneal',
  'Brian Sanchez',
  'Samuel Fuller'],
 [-6, 36, 48, 18, 7, 16, -44, -48, -23, 33])

In [10]:
def inc(x):
    return x + 1
a, a.map(inc)

(0    -1
 1    41
 2    53
 3    23
 4    12
 5    21
 6   -39
 7   -43
 8   -18
 9    38
 dtype: int64,
 0     0
 1    42
 2    54
 3    24
 4    13
 5    22
 6   -38
 7   -42
 8   -17
 9    39
 dtype: int64)

In [11]:
#  или можно заюзать лямбду
n.map(lambda x: x[::-1])

0        zehcnaS nairB
1        relluF leumaS
2    DM ttenraB ettevY
3           laenO idoJ
4        zenemiJ niveK
dtype: object

### map -  в эму функцию моэно передавать список или  Series

In [15]:
#  создадим список  d_n  и серию где время - значение и имя - ключ
d_n = pd.Series(dubles_names)
date_names = pd.Series(dates, names)
d_n, date_names

(0    Yvette Barnett MD
 1           Jodi Oneal
 2        Brian Sanchez
 3        Kevin Jimenez
 4           Jodi Oneal
 5        Brian Sanchez
 6    Yvette Barnett MD
 7           Jodi Oneal
 8        Brian Sanchez
 9        Samuel Fuller
 dtype: object,
 Brian Sanchez        1985-08-21
 Samuel Fuller        2011-01-06
 Yvette Barnett MD    1982-12-14
 Jodi Oneal           1982-07-11
 Kevin Jimenez        1988-06-12
 dtype: object)

### пройдемся по нашей серии и передадим в ней список ключей, по которому будет проводиться вычисление(узнавания значений ключа)

In [17]:
d_n.map(date_names) #  каждое знаения из d_n поступает в date_names в качестве ключа, по которому берется занчения

0    1982-12-14
1    1982-07-11
2    1985-08-21
3    1988-06-12
4    1982-07-11
5    1985-08-21
6    1982-12-14
7    1982-07-11
8    1985-08-21
9    2011-01-06
dtype: object